body{
    background-color: white;
    font-family: Arial;
    font-size: 13px;
}
#sec { 
    position: absolute;

    left: 437px;

    top: 197px;
}
#search {
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border-width: 1px;
    display: flex;
}
.but {
    vertical-align: center; 
    border-radius: 5px;
    height:36px;
    width: 124px;
    border: whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    margin: 5px;
}

#PH { 
    position: relative;
    left: 100px;
    
}
#h { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 1070px;
    top: 15px;
    
}
#app {
    position: relative;
    top:8px;
}



.h{
    display:  inline;
    padding: 9px;

}

#sign { 
    vertical-align: right;
    height: 30px;
    width: 80px;
    background-color:#4285f4;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: #4285f4;
}
#app { 
    width: 25px;
    height: 22px;
}
button {
    height: 35;
    width: 100;
}
p { 
    text-align: center;
}
#key { 
    position: relative;

    left: 465px;

    top: 40px;

    height: 24px;
}
#bottom { 
    position: relative;
    top: 540px;
    left: -30px;
    width: 1395px;
}

#ua, #else{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: rgb(111, 107, 107);
    
    
}
.right, .left {
    float: left;
    display: block;
    padding: 10px;
    text-align: center;
    margin:0;
}
.left { 
    position: relative;
    left: -8px;
}
.o {
    
    border-top: 1px solid  rgb(189, 186, 186);
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 55px;

}
#else {
    display: block;
    margin:0;
    padding:0;
    height: 45px;
}

.right { 
    position: relative;
    left: 700px;
}